*{
    padding: 0px;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:  'Poppins', sans-serif;
}
nav{
    height: 67px;
    width: 100%;
    background: #00BFA5;
}

#logo img{
    width: 7.8%;
    margin-left: 14%;
    margin-top: 0.5%;

}
.cart-logo{
   width: 7%;
}
nav ul{
    float: right;
    margin-right: -80px;
    margin-top: 00.5%;
}
nav li{
    display: inline-block;
    margin: 2px;
    line-height: 50px;
}
nav a{
    color: white;
    font-size: 18px;

}
nav li{
    color: white;
    font-size: larger;
}
ul select{
    border: 1px solid white;
    padding: 4px;
    margin-right: 5px;
    background-color: #16ac99;
    border-radius: 8px;
    
}
#searchPanel {
    border: 1px solid #00BFA5;
    width: 100%;
    height: 230px;
    background-color: #00BFA5;
}
#searchBox {
    margin-top: 2%;
    border: 1px;
    width: 100%;
    height: 28%;
    display: inline-flex;
}
#searchBar {
    border: 1px ;
    margin-left: 18%;
    width: 57.5%;
    height: 99%;
    display: inline-flex;
}
#searchBar input {
    width: 88%;
    height: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}
#searchBar img {
    border: 1px;
    width: 9%;
    height: 97%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#uploadBox {
    border: 1px;
    width: 6%;
    height: 99%;
    background-color: whitesmoke;
    border-radius: 10px;
}
#uploadBox img {
    width: 28%;
    height: 28%;
    margin-left: 35%;
    margin-top: 10%;
}
.upload {
    font-size: 12px;
    text-align: center;
}
#inforMationBox {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 3%;
    display: inline-flex;
}
#products {
    border-right: 1px solid white;
    width: 49.5%;
    display: inline-flex;
}
#products img {
    width: 25%;
    padding: 2%;
}
.description {
    border: 1px ;
    width: 70%;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 100;
    margin-left: 2%;
    margin-top: 3%;
}
#customers {
    border-left: 1px solid white;
    width: 49.5%;
    display: inline-flex;
}
#customers img {
    width: 25%;
    padding: 5%;
    margin-left: 22%;
}
#offerSlideshow {
    border: 1px solid black;
    width: 65%;
    margin: auto;
    height: 300px;
    margin-top: 1%;
}
#bookingBox {
    width: 65%;
    height: 150px;
    margin-left: 17.5%;
    display: inline-flex;
}
#doctorBox {
    width: 46%;
    margin: 2%;
    display: inline-flex;
}
#labBox {
    width: 46%;
    margin: 2%;
    display: inline-flex;
}
.picture {
    width: 20%;
    margin: 1%;
}
.picture img {
    width: 100%;
    height: 100%;
}
.cunsultBox {
    margin: 1%;
    width: 79%;
    color: #424242;
    text-align: center;
    font-size: 28px;
}
.bookingButton {
    border: 2px solid #00BFA5;
    border-radius: 5px;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    color: #00BFA5;
    font-size: 18px;
    padding: 2%;
}
#try {
    
    width: 65%;
    font-size: 18px;
    margin: auto;
}
#didYouTryBox {
    border: 1px solid black;
    width: 65%;
    margin: auto;
    height: 250px;
}
#containerRow{
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    background-color: #FAFAFA;
    width: 100%;
    display: inline-flex;
}
.left {
    border-right: 1px solid #BDBDBD;
    width: 35%;
    margin-left: 0.5%;
}
.center {
    border-right: 1px solid #BDBDBD;
    width: 17%;
}
.right {
    width: 35%;
    margin-right: 0.5%;
}
.left .center1 {
    float: right;
}
.center1 {
    width: 48%;
    margin: 0.5%;
}
.img {
    width: 50%;
    margin-left: 33%;
}
#img1 {
    margin-top: 3%;
}
.img img {
    width: 70%;
    height: 100%;
}
.imgTitle {
    width: 95%;
    margin: auto;
    color: #757575;
    text-align: center;
    margin-bottom: 2%;
    font-size: 15px;
}
.imgTitle b{
    color: #424242;
    font-size: 18px;
}