* {
    padding: 0px;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 66px;
    width: 100%;
    background-color: #16ac99;
    position: fixed;
}

#logo img {
    width: 6%;
    height: 48px;
    margin-left: 24%;
    margin-top: 0.5%;
}

#cart {
    width: 35px;
    height: 35px;
}

#select-state {
    height: 32px;
    color: white;
    font-size: 18px;
}

.cart-logo {
    width: 53%;
    height: 20px;
    object-fit: contain;
}

nav ul {
    float: right;
    margin-right: 455px;
    margin-top: 00.5%;
}

nav li {
    display: inline-block;
    margin: 2px;
    line-height: 50px;
}

nav a {
    color: white;
    font-size: 18px;
}

nav li {
    color: white;
    font-size: larger;
}

ul select {
    border: 1px solid white;
    padding: 4px;
    margin-right: 5px;
    background-color: #16ac99;
    border-radius: 8px;
}