* {
    padding: 0px;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 47px;
    width: 100%;
    z-index: 4;
    background-color: #16ac99;
    position: fixed;
    padding: 15px 0;
    /* box-sizing: border-box; */
}

.navbar>ul {
    display: flex;
    column-gap: 26%;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    /* background-color: blueviolet; */
    height: 50px
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.navbar ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar>ul li:nth-child(2) ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.navbar>ul li:nth-child(2) li {
    height: 30px;
    /* background-color: violet; */
    margin-top: 10px;
}

#cart img {
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

#location {
    background-color: white;
    border: 6px solid #ff9308;
    width: 20%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('https://www.pulseplus.in/content/images/icons/select-city-header.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 20px 20px 40px 10px rgb(78 16 9 / 39%)
}

#location>div {
    width: 100%;
    height: 20px;
    /* background-color: #16ac99; */
    display: flex;
    justify-content: right;
}

#loc {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 12px;
}

#location>input {
    width: 80%;
    margin: 50% auto 10%;
    height: 25px;
    border: 2px solid #ff9308;
    border-radius: 4px;
}

#location>select {
    width: 82%;
    margin: 0 auto;
    height: 25px;
    border: 2px solid #ff9308;
    border-radius: 4px;
}

#location button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    margin-right: 4px;
    cursor: pointer;
}

#space {
    width: 100%;
    background-color: #16ac99;
    height: 67px;
}

#mainBox {
    width: 51%;
    margin: auto;
    background-color: whitesmoke;
}

.searchpanel {
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    display: inline-flex;
}

.searchpanel input {
    width: 90%;
    height: 50px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.searchIcon {
    border: 1px solid black;
    background-color: #f9ae42;
    width: 9.5%;
    height: 52px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.searchIcon img {
    width: 50%;
    height: 50%;
    margin: 20%;
}

.title {
    margin: 2%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #424242;
}

#testBox {
    margin: 5%;
    display: flex;
}

.tests {
    border: 1px solid #9E9E9E;
    margin: 1.5%;
    padding: 1.2%;
    border-radius: 10px;
}

.tests:hover {
    background-color: #16ac99;
}

#displayBox {
    display: flex;
    margin-top: 3%;
}

.left {
    width: 65%;
}

.displayImage {
    width: 35%;
    background-image: url(https://www.pulseplus.in/content/images/lab/bg_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.displayImage img {
    width: 100%;
    height: 100%;
}

.leftTitle {
    width: 95%;
    margin: auto;
    color: #16ac99;
    font-size: 35px;
    font-weight: 520;
}

.leftDesc {
    color: #424242;
    font-size: 16px;
    margin-top: 2%;
}

.services {
    display: flex;
    margin-top: 2%;
}

.typesOfService {
    width: 24%;
    margin: 2%;
}

.typesOfService img {
    width: 80%;
    height: 70px;
    margin-left: 10%;
}

.typesOfService div {
    color: #424242;
    text-align: center;
    font-size: 12px;
    margin-top: 5%;
}

#checkupBox {
    margin-top: 3%;
    display: flex;
}

.checkup {
    width: 33%;
    margin-left: 0.2%;
}

.checkupTitle {
    border: 1px solid #16ac99;
    height: 55px;
    background-image: url("https://c.neh.tw/thumb/f/720/2909bab85f4d4a91b029.jpg");
    text-align: center;
}

.text {
    color: whitesmoke;
    font-size: 18px;
    margin-top: 5%;
    font-weight: 600;
}

.checkupDetail {
    border: 1px solid #9E9E9E;
    display: flex;
}

.testImg {
    width: 20%;
    height: 60px;
    margin: 2%;
    margin-top: 5%;
}

.testImg img {
    width: 100%;
    height: 100%;
}

.imgDetail {
    width: 74%;
    margin-left: 1%;
    margin-top: 5%;
    color: #424242;
}

.imgDetail span {
    color: orange;
    margin: 5%;
}

.offerBox {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #9E9E9E;
    background-color: #9E9E9E;
    height: 70px;
    display: flex;
}

.percentOff {
    border: 1px dashed white;
    border-radius: 10px;
    background-color: blue;
    width: 20%;
    margin: 4%;
    text-align: center;
}

.percentOff div {
    color: white;
    padding: 8%;
}

.rates {
    width: 30%;
    margin: 4%;
    display: flex;
    padding: 3%;
    font-size: 16px;
    font-weight: 600;
}

.rates div {
    margin: 2%;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10%;
    text-decoration: line-through;
}

.bookBox {
    border: 1px solid white;
    background-color: orange;
    margin: 3%;
    border-radius: 3px;
    padding: 5%;
    font-weight: 600;
    color: white;
}

#box {
    width: 100%;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 1px solid #e3e1e1;
    ;
}

#box div {
    border: .5px solid #f3efef;
    width: 12.78%;
    height: 200px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#box img {
    width: 38%;
    height: 75px;
}

#box h5 {
    margin: 9px 0px;
    font-size: 15px;
    color: #595656;
}

#box p {
    margin: 7px 0px;
    font-size: 14px;
}

#box>div:nth-child(4) {
    border-right: none;
}

#box>div:nth-child(1) {
    border-left: none;
}


/* idhar box ki css khatm */

#infoBox {
    width: 52%;
    /* margin-left: 17%; */
    display: flex;
    margin: auto;
}

.othersBox {
    width: 24%;
    margin: 2%;
    color: #757575;
}

.othersBox table {
    width: 100%;
    margin: 5%;
}

.othersBox td {
    padding-bottom: 10px;
    font-size: 14px;
}

#heading {
    color: #4d4949;
    font-size: 16px;
    font-weight: bold;
}

#socialMedia {
    display: flex;
    justify-content: center;
}

.medias {
    width: 20%;
    height: 24%;
    border-radius: 50%;
    margin: 2%;
    ;
}

.medias img {
    width: 86%;
    height: 81%;
}

#paymentBox {
    width: 51%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.boxes {
    border: 1px solid #cdcbcb;
    width: 6%;
    height: 30px;
    margin: 9px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 15%);
    padding: 7px;
}

.boxes img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#aboutParagraph {
    width: 51%;
    margin: auto;
    color: #757575;
    text-align: justify;
}

.head {
    color: black;
}

#footer {
    margin: 5%;
    width: 90%;
    text-align: center;
    font-size: 14px;
    color: #757575;
}